* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  font-size: 10px;
  margin: 0 auto;
}

body {
  @extend %font-main;
  @include font($size: 1.5rem);
  color: $dark;
  background-color: #97a771;
  background-image: url('./assets/Confetti-Doodles.svg');
  background-attachment: fixed;
  min-height: 100vh;
}

li {
  list-style: none;
}

h3 {
  @include font($size: 1.5rem, $align: center, $weight: 500);
  text-transform: capitalize;
  padding: 10px 0 0 0;
}
